<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="submission.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Article Submission Form</div>
    <div class="content">
      <form action="/article" method="post">
        <div class="user-details">
          <div class="input-box">
            <input type="text" name ="name" placeholder="Enter your Full Name" required>
          </div>
          <div class="input-box">
            <input type="text" name ="title" placeholder="Enter the article title" required>
          </div>
          <div class="input-box">
            <textarea name="content" placeholder="Post Content for the article"></textarea>
          </div>
          <div class="input-box">
            <input type="text" name="photo"  placeholder="Enter Photo URL" draggable="true" cols=100 rows=4></input>
          </div>
          <div class="input-box">
            <input type="text" name="video" placeholder="Enter Video URL" draggable="true" cols=100 rows=4></input>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</body>
</html>
